:root {
  --gradient-blue-1: #090274;
  --gradient-blue-2: #1000e9;
  --button-pink-1: #e02c6d;
  --button-pink-2: #7503b8;
  --text-white: #ffffff;
  --text-black: #18191f;
  --text-grey: #6c6c6c;
  --icon-fill-grey: #969bab;
  --icon-background-grey: #ebebeb;
  --shadow-grey: #d1d1d1;
  --button-shadow: #c254d1;
  --color: #1900ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

body {
  font-family: "Poppins", sans-serif;
}

.button {
  text-decoration: none;
  color: var(--text-white);
  background: linear-gradient(
    35deg,
    var(--button-pink-1),
    var(--button-pink-2)
  );
  padding: 10px 24px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--button-shadow);
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 0px var(--button-shadow);
}

.half-width {
  width: 50%;
}

@keyframes ball-rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  background: linear-gradient(
    35deg,
    var(--gradient-blue-1),
    var(--gradient-blue-2)
  );
  color: var(--text-white);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 120px;
  font-size: 1.1rem;
}

#nav-desktop {
  display: block;
}
#nav-laptop {
  display: none;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 50px;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  font-weight: 500;
}

#header-contents {
  display: flex;
  align-items: center;
  padding: 0 120px;
  flex-direction: row;
}

.header-content-sections {
  height: 77vh;
}

#header-contents-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header-contents-left h1 {
  font-size: 4em;
}
#header-contents-left a {
  width: fit-content;
  margin: 40px 0;
}

#header-contents-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

#background-element {
  width: 388px;
}

#player-image {
  position: absolute;
  width: 505px;
  transform: translateX(10px);
}

#header-contents-right:hover #player-image {
  transform: translateX(-1px);
}
#ball-image {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 70px;
  transform-origin: center;
  animation: ball-rotation 1.2s linear 0s infinite normal;
}

main {
  padding: 0 250px;
}

#card-container {
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 27px;
}

.card {
  box-shadow: 0 0 20px 0 var(--shadow-grey);
  padding: 15px;
  border-radius: 10px;
  display: block;
}

.card-image-frame {
  overflow: hidden;
  border-radius: 8px;
}

.card-image {
  width: 100%;
  border-radius: 8px;
}
.card-image:hover {
  transform: scale(1.05);
}

.card-player-name {
  font-size: 28px;
  color: var(--text-black);
  margin: 10px 0;
}
.card-player-description {
  color: var(--text-grey);
  line-height: 26px;
  margin-bottom: 20px;
}

#highlights-container {
  display: flex;
  align-items: center;
  margin: 100px 0;
}

#highlights-left {
  padding-right: 100px;
}

#highlights-left h2 {
  font-weight: 700;
  font-size: 3rem;
}
#highlights-left p {
  line-height: 2;
  padding-right: 65px;
  color: var(--text-grey);
  margin-bottom: 30px;
}

#highlights-right {
  overflow: hidden;
  width: fit-content;
  margin: 0 0 0 auto;
  border-radius: 20px;
}

#highlights-right img {
  margin: 0 auto;
  display: block;
  background-color: var(--button-pink-1);
}

#highlights-right img:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  background: linear-gradient(
    120deg,
    var(--gradient-blue-1),
    var(--gradient-blue-2)
  );
  color: var(--text-white);
}

#football-fantasy {
  display: flex;
  align-items: center;
}

#football-fantasy img {
  height: 30px;
}
#football-fantasy p {
  font-size: 2em;
  padding: 0 20px;
  font-weight: 700;
  cursor: pointer;
}

#footer-icons-container {
  display: flex;
  margin: 10px 0;
}
#footer-icons-container a {
  text-decoration: none;
}

.icon-background {
  background-color: var(--icon-background-grey);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px;
  cursor: pointer;
}

.icon {
  color: var(--gradient-blue-2);
}

#copyright-text {
  margin: 10px 0;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 688px) {
  #card-container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 27px;
  }
  .half-width {
    width: 100%;
  }
  .button {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  header {
    height: 95vh;
  }

  nav {
    padding: 0 25px;
    height: 17vh;
  }
  nav a {
    margin-right: 0px;
  }
  #nav-desktop {
    display: none;
  }
  #nav-laptop {
    display: block;
  }
  .menu-icon {
    display: inline-block;
    border: 2px solid var(--text-white);
    padding: 5px 6px;
    border-radius: 3px;
  }
  .nav-links-container {
    display: none;
  }
  #header-contents {
    padding: 0 25px;
    flex-direction: column;
  }
  #header-contents-left {
    justify-content: flex-start;
    height: 25vh;
  }
  #header-contents-left h1 {
    font-size: 2.5em;
  }
  #header-contents-left a {
    margin: 30px 0 0 0;
  }
  #header-contents-right {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    height: 55vh;
  }
  #background-element {
    width: 230px;
  }
  #player-image {
    position: absolute;
    width: 329px;
    /* transform: translateX(10px); */
  }
  #ball-image {
    top: 80px;
    left: 30px;
    width: 60px;
    animation: ball-rotation 1.2s linear 0s infinite normal;
  }
  main {
    padding: 0 15px;
  }
  #highlights-container {
    flex-direction: column;
    margin: 80px 0 50px 0;
  }
  #highlights-left {
    padding-right: 0px;
  }
  #highlights-left h2 {
    font-size: 2em;
    padding-bottom: 10px;
  }
  #highlights-left p {
    padding-right: 10px;
    margin-bottom: 30px;
  }
  #highlights-right img {
    width: 100%;
    margin: 40px auto 0;
    border-radius: 10px;
  }
  #highlights-right img:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 380px) {
  #header-contents-left h1 {
    font-size: 2.2em;
  }

  #ball-image {
    top: 50px;
    left: 20px;
    width: 55px;
    animation: ball-rotation 1.2s linear 0s infinite normal;
  }
}
@media screen and (max-width: 350px) {
  #header-contents-left h1 {
    font-size: 2em;
  }
  #background-element {
    width: 180px;
  }
  #player-image {
    width: 250px;
  }
  #ball-image {
    top: 50px;
    left: 20px;
    width: 45px;
    animation: ball-rotation 1.2s linear 0s infinite normal;
  }
}
